.bodyDisabled {
  overflow: hidden;
}
.nav {
  position: relative;
  /*display: flex;*/
  overflow-x: clip;
  width: 100%;
}
.nav * {
  display: flex;
}
.nav::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(12, 35, 41, 1) 0%,
    rgba(12, 35, 41, 0) 100%
  );
  top: 0;
  left: 0;
  width: 25px;
  height: 80px;
  z-index: 1;
}
.nav::after {
  content: "";
  position: absolute;
  background: linear-gradient(
    90deg,
    rgba(12, 35, 41, 0) 0%,
    rgba(12, 35, 41, 1) 100%
  );
  top: 0;
  right: 0;
  width: 25px;
  height: 80px;
  z-index: 1;
}
.nav::-webkit-scrollbar {
  height: 8px;
}

.nav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.nav::-webkit-scrollbar-thumb {
  background-color: #13353e;
  border-radius: 13px;
}

.nav button {
  border: none;
  font-size: 1em;
  /*background-color: #0c2329;*/
  background-color: #13353e;
  border-radius: 20px;
  color: #f5f5f5;
  margin: 18px 0;
  padding: 10px 13px;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.nav button:active {
  background-color: #0c2a31;
}
/*.nav button:hover {
  transform: scale(1.2);
}*/
.sortBy {
  margin: 20px 53px;
  /*border: 1px solid #4d5050;*/
  /*padding: 3px 8px;*/
  float: right;
  cursor: pointer;
  position: relative;
}
.sortBy button {
  font-size: 1.1em;
  letter-spacing: 1px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.sortBy .funnelSvg {
  float: left;
}
.sortBy .caretSvg {
  transform: translateY(2.5px);
  margin-left: 10px;
}
.sortBy .dropdown {
  position: absolute;
  left: -50px;
  background-color: #010202;
  /*padding: .8em 2em .0em .5em;*/
  border-radius: 10px;
  box-shadow: 1px 0px 7px #000000, 0px -1px 7px #000000;
  z-index: 1;
}
.sortBy .dropdown li {
  /*margin-bottom: 8px;*/
  border-bottom: 1px solid #272727;
  padding: 0.55em 0.5em;
}
.sortBy .dropdown li:last-child {
  border-top: 1px solid #272727;
  border-bottom: none;
}
.sortBy .dropdown li p {
  color: white;
  white-space: nowrap;
  text-transform: capitalize;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
  margin: 80px 0;
}
.thumbnail {
  position: relative;
  margin: 20px auto;
  max-width: 300px;
}
.thumbnail .rating {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffbf00;
  font-weight: 500;
  transform: translateX(30%);
  transition: 0.2s ease-in-out;
}
.thumbnail:hover .rating {
  transform: translateX(0);
  opacity: 1;
  pointer-events: all;
}
.thumbnail img {
  cursor: pointer;
  border-radius: 13px;
}
.thumbnail .overview {
  color: silver;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.thumbnail .title {
  cursor: pointer;
  max-width: 300px;
  color: #f5f5f5;
  font-size: 1.3em;
  font-weight: 500;
}
.thumbnail .date {
  font-size: 1em;
  color: #b9b9b9;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.thumbnail:hover .date {
  opacity: 1;
}
.container__movieDetails {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: auto auto;
  display: flex;
  background-color: rgb(0, 0, 0, 0.53);
}
.container__movieDetails .shadowContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.container__movieDetails .x {
  position: absolute;
  right: 8px;
  top: 3px;
  cursor: pointer;
}
.container__movieDetails .movieDetails {
  margin: auto auto;
  overflow: auto;
  background-color: white;
  max-width: 1200px;
  max-height: 750px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.container__movieDetails .movieDetails::-webkit-scrollbar {
  width: 8px;
}

.container__movieDetails .movieDetails::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
}

.container__movieDetails .movieDetails::-webkit-scrollbar-thumb {
  background-color: #45494a;
  border-radius: 13px;
}
.container__movieDetails .movieDetails .childMovieDetails img {
  margin: 20px;
  border-radius: 13px;
}
.container__movieDetails .movieDetails img {
  border-radius: 13px;
}
.container__movieDetails .movieDetails .details {
  margin-left: 20px;
}
.container__movieDetails .movieDetails .title {
  font-size: 2em;
  max-width: 540px;
  font-weight: bold;
  margin-bottom: 10px;
}
.container__movieDetails .movieDetails .overview {
  color: gray;
  max-width: 560px;
  white-space: break-spaces;
  line-height: 25px;
}
.container__movieDetails .movieDetails .Popularity {
  margin: 10px 0;
}
.container__movieDetails .movieDetails p span {
  font-weight: 600;
}
.container__similarMovies {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
}
.container__similarMovies::-webkit-scrollbar {
  height: 8px;
}

.container__similarMovies::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 13px;
}

.container__similarMovies::-webkit-scrollbar-thumb {
  background-color: #45494a;
  border-radius: 13px;
}
.container__similarMovies .similarMovies {
  position: relative;
  max-width: 250px;
  margin: 0px 20px;
}
.childMovieDetails {
  display: flex;
  margin: 20px;
}
.container__similarMovies .similarMovies img {
  position: relative;
  margin: 0px 20px;
  cursor: pointer;
}
.container__similarMovies .similarMovies .rating {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5px;
  right: 7px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffbf00;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.swiperButtonDisabled {
  opacity: 0.3;
}
.swiperButtonPrev {
  position: absolute;
  border-bottom: 2px solid #c3c3c3;
  border-left: 2px solid #c3c3c3;
  top: 30px;
  right: 8px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 2;
  transition: all 200ms ease-in-out;
  transform: rotate(225deg);
}
.swiperButtonNext {
  position: absolute;
  border-bottom: 2px solid #c3c3c3;
  border-left: 2px solid #c3c3c3;
  top: 30px;
  left: 8px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  z-index: 1;
  transition: all 200ms ease-in-out;
  transform: rotate(45deg);
}
.swiperButtonPrev:hover,
.swiperButtonNext:hover {
  border-bottom: 2px solid #ffff;
  border-left: 2px solid #ffff;
}
.swiperFlex {
  display: flex;
}
.swiperSimilarPrev {
  position: absolute;
  top: 38%;
  right: 8px;
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
}
.prevArrow {
  margin: 13px 11px;
  border-bottom: 2px solid #c3c3c3;
  border-left: 2px solid #c3c3c3;
  width: 17px;
  height: 17px;
  cursor: pointer;
  z-index: 2;
  transition: all 200ms ease-in-out;
  transform: rotate(225deg);
}
.swiperSimilarNext {
  position: absolute;
  top: 38%;
  left: 8px;
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
}
.nextArrow {
  border-bottom: 2px solid #c3c3c3;
  border-left: 2px solid #c3c3c3;
  width: 17px;
  height: 17px;
  margin: 13px 15px;
  cursor: pointer;
  z-index: 1;
  transition: all 200ms ease-in-out;
  transform: rotate(45deg);
}
.prevArrow:hover,
.nextArrow:hover {
  border-bottom: 2px solid #ffff;
  border-left: 2px solid #ffff;
}
.SearchUl .Container {
  position: absolute;
  padding: 0.5em 0;
  background-color: #052831;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.SearchUl,
.SearchUl li {
  max-width: 510px;
}
.SearchUl li input {
  width: 100%;
  font-size: 0.9em;
  background-color: #121415;
  color: white;
  height: 55px;
  padding-left: 10px;
  margin-left: 20px;
  border: 1px solid #252525;
}
.HeaderIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HeaderIcon div .Icon {
  margin: 10px 20px 0 20px;
  text-align: center;
  cursor: pointer;
}
.HeaderIcon div .Icon:hover svg {
  animation-name: bounce;
  animation-direction: alternate;
  animation-duration: 0.35s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(4px);
  }
}
.HeaderIcon div .Icon p {
  color: white;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.HeaderIcon div .Icon:hover p {
  opacity: 1;
}
.personContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(384px, 1fr));
  margin: 80px 20px 0 20px;
}
.person {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #04161b;
  color: white;
  width: 260px;
  margin: 20px auto;
  padding: 30px 20px;
  border-radius: 13px;
  box-shadow: 0px 3px 12px #08181d;
}
.person img {
  border-radius: 50%;
  object-fit: cover;
}
.person p {
  margin-top: 20px;
  font-size: 1.1em;
}

@media screen and (max-width: 767px) {
  .container__movieDetails .movieDetails .details {
    max-width: 300px;
    margin-left: 0;
  }
  .container {
    display: block;
  }
  .container__similarMovies .similarMovies {
    margin: 0 auto;
  }
  .childMovieDetails {
    flex-direction: column;
    align-items: center;
  }
  .Home_container__movieDetails .Home_movieDetails img {
    margin: 0;
  }
  .HeaderIcon {
    flex-direction: column-reverse;
  }
  .HeaderIcon div .Icon {
    margin: 10px auto 0 auto;
  }
  .SearchUl li input {
    margin: auto;
  }
  .personContainer {
    display: block;
  }
}
@media screen and (max-width: 380px) {
  .container__movieDetails .movieDetails img {
    margin: 20px auto;
  }
  .childMovieDetails {
    margin: 35px auto 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .childMovieDetails {
    align-items: center;
    margin: 45px 20px;
  }
  .nav {
    overflow: hidden;
  }
  .thumbnail {
    margin: 20px 25px;
  }
}
@media screen and (max-width: 800px) {
  .container__movieDetails .movieDetails {
    margin: 0;
  }
}
